.profile {
    width: 210px;
    margin: 20px auto;
    padding: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
    border:1px solid #ced3db;
    border-radius: 10px;
}

.description {}

.avatar {
    width: 100%;
    display: block;
    margin: 20px auto;
}

.name {
    margin-bottom: 12px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #232323;
}

.tag {
    margin-bottom: 12px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #696c70;
}

.location {
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #696c70;
}

.stats {
    display: flex;
    gap: 15px;
    justify-content: center;
    background-color: #d3d6db;
    padding: 12px;
    border-radius: 5px;
}

.label {
    margin-bottom: 8px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #696c70;
}

.quantity {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #232323;
}